.main_content {
	width: 100%;
	display: flex;
}
.main_content_sidebar {
	border-right: 1px solid #e1e1e1;
}
.main_content_sidebar_nav {
	width: 406px;
	padding: 71px 40px 0 80px;
	color: #fff;
}
.main_content_sidebar_nav a {
	padding: 16px 0 16px 0;
	text-decoration: none;
	font-size: 18px;
	color: #000;
	display: block;
}
.main_content_sidebar_nav a:hover {
	color: #000;
}
.main_content_sidebar_nav_active {
	font-weight: bold;
}
.main_content_sidebar_nav_horizont {
	width: 285px;
	border-top: 1px solid #e1e1e1;
}
.main_content_article {
	flex-grow: 1;
}
.main_content_article_filter {
	margin: 70px 100px 0 40px;
}
.main_content_article_filter_kindergarden {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main_content_article_filter_kindergarden_numberAddres_number {
	display: flex;
}
.main_content_article_filter_kindergarden_numberAddres_number_para {
	padding: 7px 16px 15px 0;
}
.main_content_article_filter_kindergarden_numberAddres_number_select {
	border: 1px solid #000;
	margin-bottom: 10px;
}
.main_content_article_filter_kindergarden_numberAddres_number_select select {
	width: 179px;
	height: 27px;
}
.main_content_article_filter_kindergarden_numberAddres_addres {
	display: flex;
}
.main_content_article_filter_kindergarden_numberAddres_addres_para {
	padding-right: 12px;
}
.main_content_article_filter_kindergarden_numberAddres_addres_para2 {
	font-weight: bold;
}
.main_content_article_filter_kindergarden_button button {
	width: 179px;
	height: 32px;
	background: #4B6EE8;
	border-radius: 2px;
	margin-right: 102px;
	color: #fff;
	font-family: Montserrat;
	font-size: 14px;
}
.main_content_article_filter_nameGroup {
	display: flex;
}
.main_content_article_filter_nameGroup_name {
	padding-top: 25px;
}
.main_content_article_filter_nameGroup_name_para {
	padding-bottom: 15px;
}
.main_content_article_filter_nameGroup_name_checkDescription {
	display: inline;
	padding-left: 6px;
}
.main_content_article_filter_nameGroup_name_input {
	display: block;
	width: 190px;
	height: 27px;
	border: 1px solid #000;
	margin-top: 10px;
}
.main_content_article_filter_nameGroup_group {
	margin: 53px 0 0 91px;
}
.main_content_article_filter_nameGroup_group_checkDescription {
	display: inline;
	padding-left: 6px;
}
.main_content_article_filter_nameGroup_group_select {
	border: 1px solid #000;
	margin-top: 10px;
}
.main_content_article_filter_nameGroup_group_select select {
	width: 179px;
	height: 27px;
}
.main_content_article_table {
	width: 794px;
	height: 670px;
	border: 1px solid #000;
	margin: 100px 0 70px 40px;
	overflow: hidden;
}
.main_content_article_table_header {
	height: 45px;
	background: #4B5BE8;
	display: flex;
	justify-content: space-between;
	color: #fff;
	padding-top: 15px;
}
.main_content_article_table_header_number {
	padding-left: 20px;
}
.main_content_article_table_header_input {
	padding-right: 20px;
}
.main_content_article_table_content {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}
.main_content_article_table_content_number {
	padding-left: 20px;
	text-align: right;
}
.main_content_article_table_content_input {
	padding-right: 20px;
}
.main_content_article_table_content_input_text {
	display: block;
	width: 100px;
	height: 15px;
	border: 1px solid #000;
	margin-bottom: 3px;
}
.main_content_article_table_content_input_button {
	width: 60px;
	height: 15px;
	background: #4B6EE8;
	border-radius: 2px;
	color: #fff;
	font-family: Montserrat;
	font-size: 14px;
	margin-left: 10px;
}