.page_footer {
	height: 100px;
	width: 100%;
	background: #4b6ee8;
	&_content {
		display: flex;
		justify-content: space-between;
		padding-left: 40px;
		align-items: center;
		height: 100%;
	 }
	 &_content_wrapper {
		display: flex;
		justify-content: space-around;
		flex-grow: 1;
		color: #fff;
	 }
	 &_content_wrapper_terms a,
	 &_content_wrapper_rules a,
	 &_content_wrapper_policy a {
		font-size: 12px;
		color: #fff;
	 }
	 &_logo {
		height: 45px;
	 }
};